* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 50px;
}

.choice h2:hover {
  opacity: 0.5;
  cursor: pointer;
}
.choice {
  font-size: 50px;
}

.score-board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 3rem;
}
#user-score,
#ai-score {
  font-size: 3rem;
}

p {
  font-size: 25px;
  font-weight: 600;
}
